:root {
    --color-blue: rgb(60, 130, 190);
}

* {
    font-family: 'Poppins', sans-serif;
}

.header-container,
.footer-container {
    background-color: var(--color-blue);
}

// BANNER
.banner {
    height: 35vh;
    max-height: 35vh;
    background: linear-gradient(90deg, rgba(60, 130, 190, 0.8), rgba(184, 92, 202, 0.8));
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 35vh;
        background: rgba(0, 0, 0, 0.5);
    }

    &-title {
        position: relative;
        text-align: center;
        color: #fff;
    }
}

.text-justify {
    text-align: justify;
}

// DOCENTES
.card-docentes {
    border-radius: 25px;
    background-color: #ebebeb;
    width: 320px;

    .image-content,
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px 15px;

        h6 {
            color: #333;
            font-weight: bolder;
        }

        p {
            text-align: center;
            color: #707070;
        }
    }

    .image-content {
        position: relative;

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-blue);
            border-radius: 25px 25px 0 25px;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                background-color: var(--color-blue);
                right: 0;
                bottom: -40px;
            }

            &::after {
                border-radius: 0 25px 0 0;
                background-color: #ebebeb;
            }
        }

        .card-docentes-img {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            border: 2px solid #fff;
            padding: 3px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}

// RESPONSIVE
@media (max-width: 768px) {
    .banner-title {
        width: 90%;

        h1 {
            font-size: large;
        }

        h4 {
            font-size: small;
        }
    }

    .card-docentes {
        width: 80%;
    }
}